/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 100vh;

}

/* Contenedor de la rejilla */
.contenedor {
    display: grid;
    gap: 20px;
    max-width: 1000px;
    padding: 20px;
}

/* Tarjetas */
.tarjeta {
    background: linear-gradient(to bottom, #0c82f0, #9cc9ee);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

/* Imágenes dentro de las tarjetas */
.tarjeta img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

h2 {
    color: rgb(189, 235, 253);
    text-shadow: 0px 0px 15px rgb(7, 24, 255);
}

/* Diseño responsive */
@media (min-width: 900px) {
    .contenedor {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 599px) {
    .contenedor {
        grid-template-columns: repeat(1, 1fr);
    }
}
